.run-cell {
    width: 32px;
    height: 32px;

    box-sizing: border-box;

    border: 1px solid #444;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.run-cell.active {
    background: rgb(234, 29, 29);
    opacity: 1;
}

.run-cell.goal {
    background-image: url('../../assets/goal.png');
    outline:none;
    border:none;
}

.run-cell.path {
    background-image: url('../../assets/floor.png');
    outline:none;
    border:none;
}
.run-cell.wall {
    background-image: url('../../assets/wall.png');
    outline:none;
    border:none;
}
.run-cell.goal {
    /* background-color: #fff; */
}

.cell-policy {
    position: absolute;

    /* color: #fff; */
    font-size: 14px;
    font-weight: bold;

    pointer-events: none;
}