.cell {
    width: 32px;
    height: 32px;

    border: 1px solid #2d3748;
    /* background-color: #1e293b; */
    background-color: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: repeat;
    
    cursor: pointer;
    
    transition:
    background-color 150ms ease,
    transform 120ms ease,
    border-color 150ms ease;
}

.wall {
    background-image: url('../../assets/wall.png');
    outline:none;
    border:none;
}
.path{
    background-image: url('../../assets/floor.png');
    outline:none;
    border:none;
}

.start {
    background-image: url('../../assets/start.png');
    outline:none;
    border:none;
}
.goal {
    background-image: url('../../assets/goal.png');
    outline:none;
    border:none;
}